@charset "utf-8";

body{ font-family: 
	'Oswald',AppleSDGothicNeo-Reguler,'Nanum Gothic','Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
	font-size: 18px; line-height: 1.6; }

	/* 로고 */
 	h1 { position: fixed; 
 		top:50px; left:50px; z-index: 1000; }
 	h1 img { width: 200px; }

	/* 내비게이션 */
	#gnb { position: fixed;left: 0; top: 50%; bottom: 50%; margin: auto;height: 240px; z-index: 1100; }

	#gnb li {  }

	#gnb li a { color: #000; text-align: right; text-transform: capitalize; display: block; width:200px; height:60px ; border-top:1px solid #000 ;box-sizing: border-box; transition: .5s;}

	#gnb li.on a,#gnb li:hover a{ font-size: 26px; } 

	#gnb li:nth-child(1).on a, 
	#gnb li:nth-child(1) a:hover{ color: #ff0040; border-color:#ff0040 ; }

	#gnb li:nth-child(2).on a, 
	#gnb li:nth-child(2) a:hover{ color: #fff; border-color:#fff ; }

	#gnb li:nth-child(3).on a, 
	#gnb li:nth-child(3) a:hover{ color: salmon; border-color:salmon; }

	#gnb li:nth-child(4).on a, 
	#gnb li:nth-child(4) a:hover{ color: mediumpurple; border-color:mediumpurple; }


	/* 전체페이지 */


	/* 각 페이지 레이아웃 */
	article{ width: 100%; height: 900px; background-size: cover; background-position: right center; background-attachment: fixed; position: relative; overflow: hidden; }

	article:nth-child(1){ background-image:url(images/bg1.jpg); }

	article:nth-child(2){ background-image:url(images/bg2.jpg); }

	article:nth-child(3){ background-image:url(images/bg3.jpg); }

	article:nth-child(4){ background-image:url(images/bg4.jpg); }

	/* 텍스트 박스 */
	section{ position: absolute; top:40%; left:300px; }

	section h2{ font-size:40px; font-family:'Oswald',sans-serif; text-transform: uppercase;}
	section p{ color: #333; }
	article:nth-child(1) h2{ color: #ff0040; }
	article:nth-child(2) h2{ color: #fff; }
	article:nth-child(3) h2{ color: salmon; }
	article:nth-child(4) h2{ color: mediumpurple; }

	/* 움직이는 이미지 */
	article img { position: absolute; overflow: hidden; }
	.img11{ right:0; bottom:0; }
	.img12{ right:20px; bottom:-40px; }
	.img13{ right:160px; bottom:600px; }

	.img21{ right:-100px; bottom:-180px; }
	.img22{ right:20px; bottom:0; }

	.img31{ right:30px; bottom:180px; }
	.img32{ right:-200px; bottom:110px; }
	.img33{ right:-70px; bottom:-130px; }

	.img41{ right:20px; bottom:-120px; }
	.img42{ right:0; bottom:-180px; }

